<app-custom-header title="Search"></app-custom-header>

<ion-content>
  <ion-item>
    <ion-searchbar [(ngModel)]="query"></ion-searchbar>
    <ion-button (click)="searchAnimes()">Search</ion-button>
  </ion-item>

  <ion-list *ngIf="animes.length > 0">
    <ion-item *ngFor="let anime of animes"
              (click)="openDetail(anime)"
    [class.selected]="anime.mal_id === selectedAnimeId">
      <ion-thumbnail slot="start">
        <ion-img [src]="anime.images.jpg.image_url" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ anime.title }}</h2>
        <p>{{ anime.synopsis }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
