.anime-item {
  display: flex;
  align-items: center;
  height: 12rem;
  padding: 1rem;
}

.img-anime {
  width: 8rem;
  height: 100%;
  object-fit: cover;
  margin-right: 1rem;
}

.label-description {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.label-description div {
  max-height: 8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6; /* Number of lines to show */
  -webkit-box-orient: vertical;
  text-align: justify;
}

.detail-button {
  align-self: flex-end;
}
